In [32]:
import pandas as pd

df=pd.read_csv("my_dataset.csv")

df.head()

/var/folders/06/q_4clwgd76x_1p20fg6tlh340000gq/T/ipykernel_98867/3429060211.py:3: DtypeWarning: Columns (0: Lot, 1: EDITTYPE) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("my_dataset.csv")

,OBJECTID,FULLADDRESS,BuildingName,Square,Lot,Date,MapYear,Permit_Notes,NOTES,Suffix,...,PermitType,SolidFilled,FoundationMaterial,StoneType,RoofType,FrontMaterial,RoofMaterial,Heat,Shape__Area,Shape__Length
0,1,5041 KIMI GRAY COURT SE,NaN,5318,211,NaN,2010,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.390625,71.382956
1,2,112 IRVINGTON STREET SW,NaN,6278,802,6/9/1942 12:00:00 AM,1942,NaN,NaN,NaN,...,NaN,NaN,cinder block & brick,NaN,pitch,NaN,slate,hot water,1368.554688,245.775010
2,3,5062 CENTRAL AVENUE SE,NaN,5286,40,NaN,2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.335938,61.413885
3,4,2216 38TH STREET NW,NaN,1301,739,6/5/1930 12:00:00 AM,1930,NaN,NaN,NaN,...,NaN,NaN,brick,NaN,flat,NaN,tin,hot water,144.667969,54.707058
4,5,2224 38TH STREET NW,NaN,1301,735,6/5/1930 12:00:00 AM,1930,NaN,NaN,NaN,...,NaN,NaN,brick,NaN,flat,NaN,tin,hot water,144.671875,54.705662

In [35]:
df.shape

(126809, 49)

In [33]:
df_clean=df.dropna(subset=['FULLADDRESS', 'Date'])

In [34]:
df_clean.shape

(101714, 49)

In [36]:
df_clean['FULLADDRESS'] = df_clean['FULLADDRESS'].str.upper()
df_clean = df_clean[df_clean['FULLADDRESS'].str.contains(r"\bNW\b", na=False)]

df_clean.shape
df_clean['FULLADDRESS'].head(10)

3              2216 38TH STREET NW
4              2224 38TH STREET NW
5              2222 38TH STREET NW
6              2218 38TH STREET NW
7              2220 38TH STREET NW
8               3411 33RD PLACE NW
9     1746 MASSACHUSETTS AVENUE NW
17         3554 APPLETON STREET NW
18         3548 APPLETON STREET NW
19              6622 7TH STREET NW
Name: FULLADDRESS, dtype: str

In [37]:
streetsfocus = [
    "LOUGHBORO","MACARTHUR","ARIZONA","CANAL","DALECARLIA","POTOMAC","NORTON", 
    "SHERIER","NEWARK","MANNING","MACOMB","CAROLINA","CATHEDRAL","GALENA","WEAVER",
    "KLINGLE","HAWTHORNE","LOWELL","MILLWOOD","51ST","GLENBROOK","MAUD","PALISADE",
    "WATSON","PARTRIDGE","UNIVERSITY","CHAIN BRIDGE","NEBRASKA","GARFIELD","HURST",
    "ESKRIDGE","BATTERY","GLADE","FULTON","DANA","DORSETT","EDMUNDS"]

In [38]:
pattern = "|".join(streetsfocus)

df_clean = df_clean[df_clean['FULLADDRESS'].str.contains(pattern, na=False)]

In [39]:
df_clean.shape

(2368, 49)

In [41]:
df_clean.head(100)

,OBJECTID,FULLADDRESS,BuildingName,Square,Lot,Date,MapYear,Permit_Notes,NOTES,Suffix,...,PermitType,SolidFilled,FoundationMaterial,StoneType,RoofType,FrontMaterial,RoofMaterial,Heat,Shape__Area,Shape__Length
39,40,5729 POTOMAC AVENUE NW,NaN,1452,71,7/3/1922 12:00:00 AM,1922,NaN,not in tax assessments,NaN,...,NaN,solid,concrete,NaN,pitch,tile,asphalt shingles,hot water,255.605469,65.811568
122,123,2946 NEWARK STREET NW,NaN,2082,40,3/21/1903 12:00:00 AM,1903,NaN,NaN,NaN,...,NaN,solid,stone,NaN,pitch,frame,shingles,hot air,302.449219,73.358588
180,181,4711 FULTON STREET NW,NaN,1408,21,9/2/1941 12:00:00 AM,1941,NaN,NaN,NaN,...,NaN,NaN,brick & tile,NaN,pitch,NaN,slate,air conditioning,354.082031,87.709893
275,276,5233 PARTRIDGE LANE NW,NaN,1447,854,12/9/1941 12:00:00 AM,1941,NaN,NaN,NaN,...,NaN,NaN,cinder block & brick,NaN,pitch,NaN,slate,air conditioning,275.839844,74.174874
438,439,3215 KLINGLE ROAD NW,NaN,2098,807,7/11/1924 12:00:00 AM,1924,NaN,NaN,NaN,...,NaN,solid,concrete,NaN,pitch,brick & stucco,slate,hot water,246.066406,73.679709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5420,5421,2710 CATHEDRAL AVENUE NW,NaN,2109,67,11/13/1909 12:00:00 AM,1909,NaN,NaN,NaN,...,NaN,solid,concrete,NaN,mansard,brick,tin & slate,hot water,178.378906,62.012183
5421,5422,2714 CATHEDRAL AVENUE NW,NaN,2109,65,11/13/1909 12:00:00 AM,1909,NaN,NaN,NaN,...,NaN,solid,concrete,NaN,mansard,brick,tin & slate,hot water,186.113281,69.155423
5422,5423,2712 CATHEDRAL AVENUE NW,NaN,2109,66,11/13/1909 12:00:00 AM,1909,NaN,NaN,NaN,...,NaN,solid,concrete,NaN,mansard,brick,tin & slate,hot water,179.300781,62.253648
5423,5424,2706 CATHEDRAL AVENUE NW,NaN,2109,69,11/13/1909 12:00:00 AM,1909,NaN,NaN,NaN,...,NaN,solid,concrete,NaN,mansard,brick,tin & slate,hot water,193.894531,66.782188
5424,5425,2708 CATHEDRAL AVENUE NW,NaN,2109,68,11/13/1909 12:00:00 AM,1909,NaN,NaN,NaN,...,NaN,solid,concrete,NaN,mansard,brick,tin & slate,hot water,177.066406,60.417205

In [42]:
df_clean.columns

Index(['OBJECTID', 'FULLADDRESS', 'BuildingName', 'Square', 'Lot', 'Date',
       'MapYear', 'Permit_Notes', 'NOTES', 'Suffix', 'EDITTYPE', 'House_Key',
       'House_Type', 'Extant', 'Updated', 'Facade', 'Flag', 'Contributing',
       'ArchitectGroup', 'Developer', 'Quantity', 'Rooms', 'Width', 'Depth',
       'Number_of_Families', 'Store', 'Stories', 'Permits_Last_Editor',
       'Permits_Last_Edit_Date', 'RazedFlag', 'PermitsSource', 'PermitNumber',
       'Owner', 'Architect', 'Builder', 'Material', 'Purpose', 'EstimatedCost',
       'MicrofilmRoll', 'PermitType', 'SolidFilled', 'FoundationMaterial',
       'StoneType', 'RoofType', 'FrontMaterial', 'RoofMaterial', 'Heat',
       'Shape__Area', 'Shape__Length'],
      dtype='str')

In [44]:
df_clean.to_csv("/Users/jwitter24/Desktop/Dataset Descriptor/cleaned_dataset.csv", index=False)